.SearchRecommended .search_recommend_content {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}

.SearchRecommended .search_recommend_content p {
    margin: 0;
}
.SearchRecommended .trending_p {
    text-decoration: none;
    color: black;
}

.SearchRecommended .trending_p:focus {
    text-decoration: none;
    color: black;
}