div.Community{
    margin-top: 35px;
    margin-bottom: 35px;
}

div.Community h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color:#353535;
    font-weight: bold;
    font-size: 1em;
    text-align:center;
    padding-top:3px;
}
div.Community #chat{
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1;
    font-weight:600;
    font-size: 0.9em;
}

div.Community a{
    color:black;
    text-decoration: none;
}

div.Community .main-content{
    margin-top: 0px;
    padding-top: 0px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}


div.Community .main-content .icon{
    background-color: rgba(195, 166, 197, 0.767);
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 30px;
    margin-bottom: 30px;
    width:55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
    
    

}
div.Community #mentions,#likes, #comments{
    position:relative;
    
    top:10px;
    font-size: 0.9em;
    color: rgb(54, 54, 54);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
div.Community #mentions{
    left:-4px;
}
div.Community #comments{
    left:-8px;
}
div.Community #likes{
    left:11px;

}

div.Community #mention-icon, #like-icon, #comment-icon{
    position:relative;
    left:13px;
    top:15px;
}

div.Community #search{
    border-style: none;
    height:22px;
    margin-top: 6px;
    border-color: white;
    border-radius: 10px;
    
    position:relative;
    margin-left:10%;
    margin-right:10%;
    background-color: #F3F3F3;
    width: 80%;
    z-index: 1;
    


}

div.Community #search:focus {

    border:none;
}


div.Community #search_icon{
    z-index: 1;
    position: absolute;
    right:11%;
    top:148px;
}





