.Browse_List {
    padding: 0 20px;  
}

div.Browse_History h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #353535;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    padding-top: 6px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
div.Browse_History #back {
    position: absolute;
    left: 10px;
    top: -2px;
    z-index: 1;
    font-weight: 600;
    font-size: 0.9em;
}
