header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrap {
    box-sizing: border-box;
    width: 95%;
    border-top: 6px solid #eee;
    border-bottom: 6px solid #eee;
    padding: 20px;
    position: relative;
}

.input-wrap .input {
    box-sizing: border-box;
    width: 95%;
    padding: 10px 30px 10px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #eee;
}
.input-wrap .icon {
    position: absolute;
    top: 30px;
    right: 30px;
}

.desc {
    padding: 0 20px;
}
