div.Me{
    margin-bottom: 35px;
}

div.Me #main_container1{
    padding-left:10px;
    padding-right:10px;

}
div.Me h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color:#353535;
    font-weight: bold;
    font-size: 1em;
    text-align:center;
    padding-top:3px;
}
div.Me #addFriend{
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 1;
    font-weight:600;
    font-size: 0.9em;
}
div.Me #setting{
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1;
    font-weight:600;
    font-size: 0.9em;
}

div.Me #avatar {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height:50px;
    float: left;
}
div.Me #username{
    position: relative;
    top:10px;
    font-size:1em;
    padding-left:10px;
}

div.Me #bio{
    padding-left:10px;
    padding-right:40px;
    overflow: hidden;
    height:20px;
    color:#747070;
    position: relative;
    bottom: -10px;
}

div.Me #post_follow{
    text-decoration: none;
    font-size:13px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;

}
div.Me #post_follow #button{
    flex-grow:1;
    width: 25%;
    text-align: center;
}

div.Me a{
    color:black;
    text-decoration: none;
}


div.Me #main_container2{
    margin-top: 0px;
    padding-top: 0px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

div.Me #main_container2{
    padding: 5px;
}
div.Me #main_container2 .icon{
    background-color: rgba(195, 166, 197, 0.767);
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 30px;
    margin-bottom: 30px;
    width:55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
    
}
div.Me #browse_history,#commented, #liked{
    position:relative;
    top:10px;
    font-size: 0.9em;
    color: rgb(54, 54, 54);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
div.Me #commented{
    left:-13px;
   
}
div.Me #liked{
    left: 8px;
}
div.Me #browse_history{
    font-size: 0.8em;;
    left:6px;
 

}

div.Me #browse_history_icon,#commented-icon, #liked-icon{
    position:relative;
    left:13px;
    top:15px;
}
div.Me #browse_history_icon{
    top:13px;
}




div.Me #main_container3{

    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    
    
}

div.Me #main_container3{
    padding: 5px;
}
div.Me #main_container3 .icon{
    background-color: rgba(195, 166, 197, 0.767);
    margin-left: 10%;
    margin-right: 6%;
    margin-top: 30px;
    margin-bottom: 30px;
    width:55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
    
}

div.Me #connected{
    position:relative;
    top:30px;
    left:-16px;
    font-size: 0.9em;
    color: rgb(54, 54, 54);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
div.Me #connect{
    position:relative;
    top:30px;
    left:-9px;
    font-size: 0.9em;
    color: rgb(54, 54, 54);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
div.Me button{
    background-color: rgb(231, 219, 219);
    border:1px solid white;
   
}

div.Me #mention-icon, #like-icon, #comment-icon{
    position:relative;
    left:13px;
    top:15px;
}