div.MyProfile{
    margin-bottom: 35px;
}

div.MyProfile #main_container1{
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
    height: 160px;

    position: relative;


}
div.MyProfile #background_picture{
    min-width:400px;
    height: 160px;
    position: absolute;
    top:0px;
    left:0px;
    opacity: 0.9;
    z-index: -1;
}


div.MyProfile #background_picture_button{
    position: relative;
    top:5px;
    padding-top: 1px;
    background-color: aliceblue;
    z-index: 2;
    border-radius: 10px;
    border: 0px solid rgb(230, 215, 215);
    font-size: 0.85em;
}

div.MyProfile h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color:#353535;
    font-weight: bold;
    font-size: 0.8em;
    text-align:center;
    padding-top:6px;
    margin-bottom:0px;
    padding-bottom:0px;
}
div.MyProfile #back{
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 1;
    font-weight:600;
    font-size: 0.9em;
}
div.MyProfile #create_post{
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1;
    font-weight:600;
    font-size: 0.9em;
}

div.MyProfile #overview{
    padding-top:70px;
    padding-bottom:0px;
    height:50px;
}



div.MyProfile #avatar {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height:50px;
    float: left;
    background-color: white;
    position: relative;
    bottom:8px;
    z-index: 2;/* z-index only works on positioned elements*/
}
div.MyProfile #username{
    position: relative;
    top:10px;
    font-size:1em;
    padding-left:10px;
}

div.MyProfile #bio{
    padding-left:10px;
    padding-right:40px;
    overflow: hidden;
    height:20px;
    color:#747070;
    position: relative;
    bottom: 25px;
    left:50px;

}
div.MyProfile #message_text{
    height:50px;

}
div.MyProfile #post_follow{
    text-decoration: none;
    font-size:13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:relative;
    bottom: 15px;
    left:40px;

}
div.MyProfile #post_follow #button{

    text-align: center;
    padding-left: 10px;
    margin-right: 20px;
}
div.MyProfile a{
    color:black;
    text-decoration: none;
}


div.MyProfile #main_container3{
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;


}

div.MyProfile #main_container3{
    padding: 5px;
    border-bottom: 1px solid rgb(211, 206, 206);
}
div.MyProfile #main_container3 .icon{
    background-color: rgba(195, 166, 197, 0.767);
    padding: 0px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
    width:40px;
    height: 40px;
    border-radius: 50%;
}
/* facebook icon, twitter icon, instagram icon */
div.MyProfile #select{
    position:relative;
    left:5px;
    top:5px;
}
div.MyProfile #select_all_text{
    font-size: 1em;
    font-weight: bold;
    color:white;
    position: relative;
    left:1px;
    top:11px;
    padding:10px;

} 
div.MyProfile #O-Zone{
    font-size: 1.7em;
    font-weight: bold;
    color:white;
    position: relative;
    left:-4px;
    top:-5px;
    padding:10px;

} 

div.MyProfile #Facebook, #Twitter, #Instagram, #Facebook, #Facebook,#Facebook,#Facebook{ 
    position:relative;
    padding:5px;
    left:0px;
    top:0px;
}
