div.ToTwitter h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #353535;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    padding-top: 6px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
div.ToTwitter #back {
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 1;
    font-weight: 600;
    font-size: 0.9em;
}
div.ToTwitter #Twitter {
    margin-top: 20px;
    margin-left: 32vw;
    width: 50vw;
    height: 30px;
    background-color: white;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-image: url('https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.twimg.2560.png');
}
div.ToTwitter a {
    color: black;
    text-decoration: none;
}
