* {
    margin: 0;
    padding: 0;
}
.commented{
    border: 0px solid #e0dfdf;
    padding:10px;
    border-top: solid #B1B1B1 1px;
    border-bottom:solid #B1B1B1 1px;
}

.inline-block {
    display: inline-block;
}

#commented_date {
    position: absolute;
    right: 10px;
    padding-top:10px ;
    font-size: 0.8em;
}

h1{
    position: relative;
    left: 5px;
    line-height: 1.5em;
}

#post{
    line-height: 1em;
    height:80px;
    background-color:#f1efef ;
    line-height: 1em;
    font-size: 0.8em;

    margin:0px;
}

#post_image{
    float: left;
}

#username{
    font-size:1em;
    padding-left:10px;
}

#post_text{
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
    height:35px;
    color:#747070;
}

#comment{
    padding-top:10px;
    line-height: 1.1em;
    margin-bottom:5px;
}
