
.commented{
    border: 0px solid #e0dfdf;
    padding:10px;
    border-top: solid #B1B1B1 1px;
    border-bottom:solid #B1B1B1 1px;
}

article.commented .inline-block {
    display: inline-block;
}

article.commented #commented_date {
    position: absolute;
    right: 10px;
    padding-top:10px ;
    font-size: 0.8em;
}

article.commented h1{
    position: relative;
    left: 5px;
    line-height: 1.5em;
}
article.commented #username1{
    position: relative;
    top: -25px;
}

article.commented #post{
    line-height: 1em;
    height:80px;
    background-color:#f1efef ;
    line-height: 1em;
    font-size: 0.8em;

    margin:0px;
}

article.commented #post_image{
    float: left;
}

article.commented #username{
    font-size:1em;
    padding-left:10px;
}

article.commented #post_text{
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
    height:36.4px;
    color:#747070;
}

article.commented #comment{
    padding-top:10px;
    line-height: 1.1em;
    margin-bottom:5px;
}

article.commented #avatar {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height:50px;
  
}