@import url('https://fonts.googleapis.com/css?family=Nunito:300');

* {
  box-sizing: border-box;  
  font-family: inherit;
}

  

 form {
  margin: 0 auto;
  max-width: 17rem;
  overflow: auto;
  
 }
  
   input {
    border: 0;
    border-bottom: 1px solid rgb(70,70,70) ;
    border-radius: 0;
    width: 100%;
    height: 2rem;
    padding: 0 0 0.25rem 0;
    font-size: 1rem;
    color: rgb(70,70,70)e;
    background: white;
   }

 

   button {
    margin-top: 2rem;
    border: 0;
    border-radius: 200px;
    width: 100%;
    padding: 0.85rem;
    font-size: 1rem;
    color: white;
    background: blue;
   }
  
   p {
    margin: 0.25rem 0 0;
    text-align: center;
    color: rgb(70,70,70); 
  }


.sign-up {
  display: none;
}

.opposite-btn1,
.opposite-btn2 {
  cursor: pointer;
}