div.NameTag {
    padding: 10px;
    margin: 10px;
    background-color: white;
    /*border: 2px solid lightgray;*/
    display: flex;
}
div.NameTag img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    position: relative;
}

div.NameTag .Text {
    flex: 1;
    padding-left: 10px;
    padding-top: 3px;
    position: relative;
}

div.NameTag button.Follow,
button.Unfollow {
    position: absolute;
    right: 0px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}
