.PostContent{
    padding: 20px;
    
    background-color: white;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    
}
div.PostContent .block{
    display: flex;
}

div.PostContent .postcontent{
    padding-left:60px;
    font-size: 15px;
}
div.PostContent .userimg{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height:50px;
    position: relative;
}

div.PostContent .contentimg{
    padding-left:70px;
    width: 200px;
    float: left; 
}

div.PostContent .PlatformSource{
    align-self:flex-end;
}

div.PostContent .footer{
    padding-left:70px;
    flex-direction: row;
}

div.PostContent .Repostbutton,.Commentbutton,.Likebutton{
    /* background-color: #4CAF50; Green */
    border: none;

    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7; 
    color: black;
}