.PostContent{
    padding: 20px;
    margin: 20px;
    background-color: white;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    
}
.block{
    display: flex;
}

.postcontent{
    padding-left:60px;
}
.userimg{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height:50px;
    position: relative;
}

.contentimg{
    padding-left:70px;
    width: 200px;
    float: left; 
}

.PlatformSource{
    align-self:flex-end;
}

.footer{
    padding-left:70px;
    flex-direction: row;
}

.Repostbutton,.Commentbutton,.Likebutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7; 
    color: black;
}