.PostContent_noAction {
    padding-top: 10px;
    background-color: white;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    display: flex;
    flex-direction: column;
}
.block_noAction {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.imageimport {
    display: flex;
    padding-left: 30px;
}

.postcontent_noAction {
    padding-left: 30px;
    font-size: 16px;
    margin-top: 0px;
    padding-right: 30px;
}
.userimg_noAction {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    position: relative;
}
.Text {
    padding-bottom: 0;
}
.contentimg_noAction {
    padding-left: 70px;
    width: 200px;
    float: left;
}

.PlatformSource_noAction {
    position: absolute;
    right: 10px;
}

.footer_noAction {
    padding-left: 70px;
    flex-direction: row;
}
