.PreLogin {
    border: 2px solid black;
    border-width: 2px 0 1px 19px; /* no border on left or right */
    font-family: georgia;
    padding: 20px;
    text-align: center;
    position: flex;
    bottom: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

nav a:hover {
    text-decoration: underline;
    background-color: yellow;
}

header {
    position: absolute;
    bottom: 150px;
}
