#repost_edit_text {
    height: 25px;
    font-size: 14pt;
    width:80%;
    background-color: white;
    border: 0px solid rgb(230, 215, 215);
    margin-bottom: 5px;
    font-size: 1em;
}

#sendPost_edit{
    width:20%;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(230, 215, 215);

}