textarea#myTextarea {
    height: 20px;
    font-size: 14pt;
    width:80%;
    background-color: white;
    border: 0px solid rgb(230, 215, 215);
    margin-bottom: 0px;
    font-size: 1em;
    margin-top:0px;
    padding-top: 3px;
}

button#sendPost_edit{
    width:20%;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(230, 215, 215);

}

#mycomment{
    height: 25px;
    font-size: 14pt;
    width:100%;
    padding-top:5px ;
    padding-left:15px ;
    background-color: white;
    border: 0px solid rgb(230, 215, 215);
    margin-bottom: 0px;
    font-size: 1em;

}

div#mycomment #username{
    font-size: 14px;

}

div#date_send{
    margin-bottom: 5px;
    font-size: 14pt;
    width:100%;
    padding-left:16px ;
    font-size: 1em;
    font-size: 0.8em;
    color: grey;

}
div#mycomment a{
    color:black;
    text-decoration: none;
}