div.ToRepost {
    padding: 20px;
    padding-right: 10px;
    margin: 20px;
    background-color: rgb(64, 199, 199);
    border: 2px solid rgb(185, 149, 149);
}
 
button.repost_share_to_platforms{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

img.repost_avatar {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
    position: relative;
}

section.repost_share_to_friends_list {
    position: relative;
}

section.repost_share_to_platforms{
    position: relative;
}

button.repost_friends{
    display: block;
}

div.repost_friends_component{
    position: relative;
}