.Loginpage {
    padding-top: 200px;
    text-align: center;
}
.header__text h1 {
    text-align: center;
}

.Loginform {
    padding-top: 20px;
}
.header__text p {
    padding-bottom: 30px;
    text-align: center;
}

#signin {
    text-decoration: none;
    color: rgb(70, 70, 70);
    margin: 15px;
    font-size: 15px;
}

.Loginpage button {
    margin-bottom: 30px;
}

div.Loginpage #back {
    position: absolute;
    left: 10px;
    top: -1px;
    z-index: 1;
    font-weight: 600;
    font-size: 0.9em;
    color: black;
}
