.homenav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-width: 1px 0 1px 0px; /* no border on left or right */
  font-family:serif;
  margin:0px;

  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height:35px;
  z-index: 1;
  border-bottom: 2px solid #e7e7e7;

}

  
#homenav_button{
  flex-grow:1;
  width: 25%;
  text-decoration: none;
  color: black;
  font-size:13px;
  text-align: center;
  height:35px;
  padding-top: 9px;
  
}
  
#homenav_button:hover {
  text-decoration: none;
  background-color: rgb(243, 243, 243);
}

#homenav_button:focus {
  text-decoration: underline;
  background-color:rgb(228, 226, 226);
}
