.mainnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-width: 1px 0 1px 0px; /* no border on left or right */
  margin:0px;

  position: fixed;
  bottom: 0;
  background-color:rgb(70,70,70);
  width: 100%;
  height:35px;
  z-index: 1;

}

  
#mainnav_button{
  flex-grow:1;
  width: 25%;
  text-decoration: none;
  color: white;
  font-size:13px;

  text-align: center;
  height:35px;
  padding-top: 9px;
  border-right: solid 1px grey;
}
  
#mainnav_button:hover {
  text-decoration: none;
  background-color: #272621;

}

#mainnav_button:focus {
  text-decoration: underline;
  background-color:#41403d;
}

