p.Login-text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

p.Login-enter {
    font-size: 20px;
    text-align: center;
}

div.align-center {
    text-align: center;
}

button {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 5px;
}