div.PostDetail #back {
    position: absolute;
    left: 10px;
    top: -1px;
    z-index: 1;
    font-weight: 600;
    font-size: 0.9em;
}

div.PostDetail #title {
    position: relative;
    bottom: 4px;
}

div.PostDetail h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #353535;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding-top: 8px;
}